.footer__column-navlink {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.footer__column-navlink:hover {
  opacity: 0.8;
  transition: 0.3s;
}
