.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  width: 63%;
  margin: 0;
  padding-top: 32px;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    width: 90%;
    padding-top: 16px;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    width: 90%;
    padding-top: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__subtitle {
    width: 80.7%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__subtitle {
    width: 66.8%;
  }
}
