.cover__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
